<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
  <meta charset="utf-8">
  <title>Split-it</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "external" %>
  <%= javascript_include_tag "external" %>
  </head>
<body>
  <%#= render :partial => "genio/home/header" %>
  <%= yield :layout %>
</body>
</html>